/* 
Order of precedence:
1. Inline style
2. Internal styles
3. External styles
/*

/*Caveat: important will override any precedence*/

/* html tag selection */

body {
    background-color:#1c87c9;
  }

p {
    color:purple;
    /* background-color: orange; */
}

/* class selection*/
middle-p {
    color:#FFFFFF;
    text-align:center;
    text-decoration:underline;
}

/* id selection*/
#main-text {
    line-height: 30 px;
}