
/* the old way of doing horizontal layout */
/* li {
    display: inline;
} */

/* the modern way of doing horizontal layout */

ul {
    display: flex;
    flex-direction: row; /* by default, display:flex has flex direction row */
    list-style-type: none;
    gap: 16px;
}

header, footer {
    display: flex;
    justify-content: space-between;
}

button {
    padding: .5rem 1rem;
    color: #3c4043;
    border-radius: 4px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    cursor: pointer;
}

#climate-message {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* ways to accomplish pre-work 10/11:

1. Flexbox
2. Grid
3. Absolute positioning*/

/*
Flexbox: 
*/

main {
    align-self: center; /* child of Flexbox */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* Absolute positioning

footer {
    position: absolute;
    bottom: 0;
    right: 200px;
}
/*