
/* the old way of doing horizontal layout */
/* li {
    display: inline;
} */

/* the modern way of doing horizontal layout */

ul {
    display: flex;
    flex-direction: row; /* by default, display:flex has flex direction row */
    list-style-type: none;
    gap: 16px;
}

header, footer {
    display: flex;
    justify-content: space-between;
}

button {
    padding: .5rem 1rem;
    color: #3c4043;
    border-radius: 4px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    cursor: pointer;
    align-items: center;
}

#climate-message {
    display: flex;
    gap: 1rem;
    align-items: center;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}