
/* the old way of doing horizontal layout */
/* li {
    display: inline;
} */

/* the modern way of doing horizontal layout */

ul {
    display: flex;
    flex-direction: row; /* by default, display:flex has flex direction row */
    list-style-type: none;
    gap: 16px;
}

header {
    display: flex;
    justify-content: space-between;
}